@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  min-height: 100%;
}

* {
  font-family: var(--font-main), ui-sans-serif, system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
